*{
      box-sizing: border-box;
      margin: 0;
      /* list-style: none; */
      background-color: black;
}
#header{
      width: 100%;
      height: 100vh;
      display: flex;
}
#name{
      text-transform: uppercase;
      color:rgb(218, 2, 124);
      font-weight: 400;
      font-size: 70px;
      text-align: center;
      position: absolute;
      top: 25%;
      left: 38%;
      letter-spacing: 2px;

}
#name::after{
      content: "";
      position: absolute;
      left: 0%;
      height: 100%;
      width: 100%;
      background: black;
      border-left: 1px solid rgb(254, 65, 172);
      animation: typing 5s steps(13) infinite;
}
@keyframes typing {
      100%{
            left: 100%;
            margin:0 -40px 0 55px;
      }
}
p{
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30;
      position: absolute;
      top: 40%;
      left: 66%;
}
.Quote{
      color: rgb(218, 2, 124);
      font-weight: 200;
      font-size: 50px;
      position: absolute;
      top:75%;
      left:15%;
      transform: perspective(100px);
      animation: mover 2.5s  infinite;
}
@keyframes mover {
      0%{
            transform: skew(0deg);
      }
      50%{
            transform: skew(30deg);
      }
      100%{
            transform: skew(0deg);
      }
}
.author{
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 25;
      position: absolute;
      top: 88%;
      left: 62%;
}
img{
      height: 300px;
      width: 300px;
      border-radius: 150px;
      position: absolute;
      top: 10%;
      left: 8%;
      border: .5px solid rgb(254, 65, 172);
      transition:transform .5s;
}
img:hover{
      transform: scale(1.2);
      cursor: pointer;
}
.section{
      background-color: white;
      padding: 20px 250px;
}
.content, .career{
      color: white;
      width: 100%;
      font-size: 20;
      margin-top: 80px;
      padding: 30px;
      text-align: justify;
      border: .5px solid rgb(218, 2, 124);
      border-radius: 15px;
      box-shadow: 10px 10px 4px #F8485E;
      line-height: 35px;
      transition: transform 1s;
}
.content:hover, .career:hover{
     transform: scale(1.2);
}
.footer{
      padding: 20px 40px 40px 60px ;
      width: 100%;
      text-align: center;
}
.footer h6{
      color: white;
      font-weight: 400;
      font-size: 30px;
      margin: 30px;
}
.btn{
      padding: 10px;
      background-color: #F8485E;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      text-decoration: none;
      transition:transform 1s;
}
.btn:hover{
      cursor: pointer;
      transform: scale(1.2);
      background-color: white;
      color: #F8485E;
}

